<launch>
    <include file="/launch-files/rs_d435.launch">
      <!-- <arg name="serial_no_camera1" value="905312110161"/>
      <arg name="serial_no_camera2" value="826212070847"/> -->
      <arg name="camera1"              			default="t265"/>
      <arg name="camera2"              			default="d435"/>
      <arg name="tf_prefix_camera1"         default="t265"/>
      <arg name="tf_prefix_camera2"         default="d435"/>
    </include>
</launch>
